{% extends 'base.html' %}
{% block page_content %}
<div class="container h-100 d-flex">
    <div class="jumbotron col-sm-8 text-center mt-5 mb-1 mx-auto">
        <h1 style="color: #0088ff;" class="text-nowrap mb-3 text-center display-4 d-none d-md-block">
            <a id="day-title-a" href="{{ title_url }}" target="_blank">{{ day }}</a>
        </h1>
        <h1 style="color: #0088ff;" class="text-nowrap mb-3 text-center d-md-none">
            <a id="day-title-b" href="{{ title_url }}" target="_blank">{{ day }}</a>
        </h1>
        <div id="loader" class="text-center h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class=" loader"></div>
            </div>
        </div>

        <!-- Create div above #lunch and #dinner divs. -->
        <div id="lunch" class="container">
            <div class="row h-100 d-flex p-2 align-items-center p-sm-0">
                <div class="col-sm-4 text-right mr-4 d-none d-sm-block">
                    <h5>Comida</h5>
                </div>
                <div class="col-sm-4 mr-4 d-sm-none">
                    <h5>Comida</h5>
                </div>
                <div class="row col-sm-8">
                    <div class="w-100 text-left d-none d-sm-block">
                        <p id="lunch-1a"></p>
                    </div>
                    <div class="w-100 d-sm-none">
                        <p id="lunch-1b"></p>
                    </div>

                    <div class="w-100 text-left d-none d-sm-block">
                        <p id="lunch-2a"></p>
                    </div>
                    <div class="w-100 d-sm-none">
                        <p id="lunch-2b"></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="dinner" class="container">
            <div class="row h-100 d-flex p-2 align-items-center p-sm-0">
                <div class="col-sm-4 text-right mr-4 d-none d-sm-block">
                    <h5>Cena</h5>
                </div>
                <div class="col-sm-4 mr-4 d-sm-none">
                    <h5>Cena</h5>
                </div>
                <div class="row col-sm-8">
                    <div class="w-100 text-left d-none d-sm-block">
                        <p id="dinner-1a"></p>
                    </div>
                    <div class="w-100 d-sm-none">
                        <p id="dinner-1b"></p>
                    </div>

                    <div class="w-100 text-left d-none d-sm-block">
                        <p id="dinner-2a"></p>
                    </div>
                    <div class="w-100 d-sm-none">
                        <p id="dinner-2b"></p>
                    </div>
                </div>
            </div>
        </div>
        <h5 id="N/A" style="display: none">Datos no disponibles</h5>

    </div>
</div>
<div class="container h-100 d-flex justify-content-center">
    <div class="container h-100 col-sm-8 d-flex justify-content-between p-0">
        <div>
            <a id="previous" class="btn btn-primary" role="button" onclick="yesterday()">
                Anterior
            </a>
        </div>
        <div><a id="all" class="btn btn-primary" role="button">Todos</a></div>
        <div>
            <a id="next" class="btn btn-primary" role="button" onclick="tomorrow()">Siguiente</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('loader').style.display = 'block';
    document.getElementById('N/A').style.display = 'none';
    document.getElementById('lunch').style.display = 'none';
    document.getElementById('dinner').style.display = 'none';

    {% autoescape false %}
    var menus = {{ menus }};
    {% endautoescape %}
</script>

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menus.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/today-js.js') }}"></script>
{% endblock %}
