{% extends 'base.html' %}
{% block page_content %}
<div class="container h-100 d-flex">
    <div class="jumbotron col-sm-8 text-center mt-5 mb-1 mx-auto">
        <h1 style="color: #0088ff;"
            class="text-nowrap mb-3 text-center display-4 d-none d-md-block">
            <a href="{{ title_url }}" target="_blank">
                {{ day }}
            </a>
        </h1>
        <h1 style="color: #0088ff;" class="text-nowrap mb-3 text-center d-md-none">
            <a href="{{ title_url }}" target="_blank">
                {{ day }}
            </a>
        </h1>
        {% if not menu.is_empty() %}
        <div class="container">
            <div class="row h-100 d-flex p-2 align-items-center p-sm-0">
                <div class="col-sm-4 text-right mr-4 d-none d-sm-block"><h5>Comida</h5></div>
                <div class="col-sm-4 mr-4 d-sm-none"><h5>Comida</h5></div>
                <div class="row col-sm-8">
                    <div class="w-100 text-left d-none d-sm-block"><p>{{ menu.lunch.p1 }}</p></div>
                    <div class="w-100 d-sm-none"><p>{{ menu.lunch.p1 }}</p></div>

                    {% if menu.lunch.p2 %}
                    <div class="w-100 text-left d-none d-sm-block"><p>{{ menu.lunch.p2 }}</p></div>
                    <div class="w-100 d-sm-none"><p>{{ menu.lunch.p2 }}</p></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row h-100 d-flex p-2 align-items-center p-sm-0">
                <div class="col-sm-4 text-right mr-4 d-none d-sm-block"><h5>Cena</h5></div>
                <div class="col-sm-4 mr-4 d-sm-none"><h5>Cena</h5></div>
                <div class="row col-sm-8">
                    <div class="w-100 text-left d-none d-sm-block"><p>{{ menu.dinner.p1 }}</p></div>
                    <div class="w-100 d-sm-none"><p>{{ menu.dinner.p1 }}</p></div>

                    {% if menu.dinner.p2 %}
                    <div class="w-100 text-left d-none d-sm-block"><p>{{ menu.dinner.p2 }}</p></div>
                    <div class="w-100 d-sm-none"><p>{{ menu.dinner.p2 }}</p></div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
        <h5>Datos no disponibles</h5>
        {% endif %}

    </div>
</div>
<div class="container h-100 d-flex justify-content-center">
    <div class="container h-100 col-sm-8 d-flex justify-content-between p-0">

        <div>
            <a class="btn btn-primary {{ disabled_yesterday }}" href="{{ yesterday_url }}"
               role="button">
                Anterior
            </a>
        </div>
        <div>
            <a class="btn btn-primary" href="{{ url_for('menus.menus_view', _external=True) }}"
               role="button">
                Todos
            </a>
        </div>
        <div>
            <a class="btn btn-primary {{ disabled_tomorrow }}" href="{{ tomorrow_url }}"
               role="button">
                Siguiente
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menus.css') }}">
{% endblock %}