{% extends "real_base.html" %}

{% block title %}Menús Residencia Santiago{% endblock %}

{% block head %}
{{ super() }}
<link rel="apple-touch-icon-precomposed" sizes="200x200" href="{{ url_for('static', filename='images/favicon.png') }}"/>
<link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}"/>
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
{% endblock %}

<{% block content %}
{{super()}}
<div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{category}}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>

{% block footer %}
<!--<footer class="page-footer font-small blue bg-dark">-->

  <!-- Copyright -->
  <!--<div class="footer-copyright text-center py-3">-->
      <!--<br><br>-->
  <!--</div>-->
  <!-- Copyright -->

<!--</footer>-->
{% endblock %}
{% endblock %}
