{% extends "real_base.html" %}

{% block title %}Menús Residencia Santiago{% endblock %}

{% block head %}
{{ super() }}
<link rel="apple-touch-icon-precomposed" sizes="200x200"href="{{ url_for('static', filename='images/favicon.png') }}"/>
<link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}"/>
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
{% endblock %}

<{% block content %}
    {{super()}}
    <div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{category}} mt-2">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        {% if category == "primary" %}
        <i class="fas fa-star fa-lg mr-1"></i>
        {% elif category == "secondary" %}
        <i class="fas fa-comment fa-lg mr-1"></i>
        {% elif category == "success" %}
        <i class="fas fa-check fa-lg mr-1"></i>
        {% elif category == "warning" %}
        <i class="fas fa-exclamation-triangle fa-lg mr-1"></i>
        {% elif category == "danger" %}
        <i class="fas fa-exclamation fa-lg mr-1"></i>
        {% elif category == "info" %}
        <i class="fas fa-info-circle fa-lg mr-1"></i>
        {% endif %}
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}

    {% block footer %}
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2018-2020 Diego Alloza</p>
            <p class="mb-1">¿Algo va mal? ¿Alguna sugerencia?</p>

            <ul class="list-inline">
                <li class="list-inline-item"><a href="/feedback">Contacto</a></li>
            </ul>
        </footer>
    {% endblock %}
    {% endblock %}

{% block scripts %}
    <script src="https://kit.fontawesome.com/ec22cb5018.js" crossorigin="anonymous"></script>
    {{ super() }}
{% endblock %}
